.navBar {
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    grid-area: 1 / 1 / 2 / 6;
    background-color: rgba(185, 231, 4, 0.64);
    padding: 10px 30px;
    height: 30px;
    vertical-align: middle;
  }

  .image {
    position: relative;
    max-width: 50vw;
    max-height: 50vh;
    border-radius: 5px 5px 0 0;
  }
  
  .Card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .Container {
    padding: 2px 16px;
    position: center;

  }
  input {
    width: 100%;
  }
  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  input[type=text] {
    background-color: #fdf7f2;
    color: rgb(9, 9, 9);
  }

 