.navBar {
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    grid-area: 1 / 1 / 2 / 6;
    background-color: rgba(185, 231, 4, 0.64);
    padding: 10px 30px;
    height: 30px;
    vertical-align: middle;
  }