.navBar {
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    grid-area: 1 / 1 / 2 / 6;
    background-color: rgba(185, 231, 4, 0.64);
    padding: 10px 30px;
    height: 30px;
    vertical-align: middle;
  }

  .image {
    max-width: 20vw;
    max-height: 25vh;
    object-fit: cover;
    
  }
  .Card {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    width: 350px;
    max-height: fit-content;
    margin: 30px;
}